# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Environments
.venv/
venv/
env/
.env

# Django
# db.sqlite3
media/
staticfiles/
frontend
# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db